* {
    margin: 0;
}

@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/description';
@import 'blocks/titles';
@import 'blocks/digits';
@import 'blocks/table';
@import 'blocks/techniques';
@import 'blocks/video';
@import 'blocks/oakley';
@import 'blocks/columns';
@import 'blocks/feynman';
@import 'blocks/khan';
@import 'blocks/kaufman';
@import 'blocks/rotation';
@import 'blocks/resources';
@import 'blocks/footer';