.two-columns {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__brief {
        width: 175px;
        line-height: 1.2em;
        font-size: 18px;
        font-weight: normal;
        color: #2f80ed;
    }
    &__main-text {
        width: 784px;
    }
    &__paragraf, &__span-accent {
        font-size: 24px;
        line-height: 34px;
        font-weight: normal;
    }
    &__span-accent {
        margin-top: 30px;
        margin-bottom: 30px;
        span {
            font-weight: bold;
        }
    }
}