.feynman {
    position: relative;
    background-color: #f2f2f2;
    height: 790px;
    &__title {
        position: relative;
        width: 648px;
        display: block;
        margin: 0 auto;
        line-height: 1.15em;
        font-size: 120px;
        font-weight: bold;
        text-align: center;
        z-index: 2;
    }
    &__subtitle {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 70px;
        line-height: 51px;
        font-size: 36px;
        font-weight: normal;
        text-align: center;
        width: 30%;
        z-index: 2;
    }
    &__link {
        position: absolute;
        top: 43%;
        right: 48px;
        line-height: 51px;
        font-size: 36px;
        font-weight: normal;
        color: #2f80ed;
        text-decoration: none;
    }
    &__img {
        position: absolute;
        width: 867px;
        height: 637px;
        bottom: 0;
        left: 0;
    }
}