.kaufman {
    position: relative;
    padding: 90px 0;
    background-color:  #1f1f1f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &__triangle {
        position: absolute;
        right: -210px;
        top: 0;
        height: 877px;
        width: 877px;
        animation: rotation 20s linear infinite;
    }
}