.khan {
    padding: 105px 0 0 0;
    background-color: #f2f2f2;
    &__container {
        width: 80%;
        margin: 0 auto;
    }
    &__author {
        line-height: 42px;
        font-size: 30px;
        font-weight: normal;
    }
    &__quote {
        width: 790px;
        margin-top: 50px;
    }
    &__quote-author {
        margin-top: 36px;
        margin-bottom: 10px;
        line-height: 1.15em;
        font-size: 24px;
        font-weight: bold;
    }
    &__book-container {
        margin-top: 68px;
        display: flex;
    }
    &__book-pic {
        width: 608px;
        height: 620px;
        margin-right: 48px;
        object-fit: cover;
        object-position: 0 0;
    }
    &__buy-link {
        color: #2f80ed;
        text-decoration: none;
    }
}