.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0 auto;
    li {
        list-style-type: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
}