.resources {
    padding: 100px 0 217px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo-zone {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        width: 1100px;
    }
    &__logo {
        width: 270px;
        height: 38px;
    }
}