.section-subtitle {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}
.section-title {
    line-height: 1.15em;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: 10;
}
.section-title_theme_dark {
    z-index: 1;
}